<div class="modal fade" id="staticBackdropEditPassword" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-dark">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">{% trans %}heading.edit.password{% endtrans %}</h5>
				<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				{% form_theme form 'bootstrap_5_layout.html.twig' %}
				{{form_start(form)}}

				{{form_row(form.currentPassword, {'label':"password.current"})}}

				{{form_row(form.password.first, {'label':"password.new.first"})}}

				{{form_row(form.password.second, {'label':"password.new.second"})}}

				<button class="btn btn-info" type="submit" formaction="{{path('app_account_password_edit_ajax')}}">
					{% trans %}change.password{% endtrans %}
				</button>

				{{form_end(form)}}

			</div>
		</div>
	</div>
</div>
