{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{form_start(form)}}

{{form_row(form.email.first, {'label':"email.new.first"})}}

{{form_row(form.email.second, {'label':"email.new.second"})}}

<button class="btn btn-info" type="submit" formaction="{{path('app_account_email_edit_ajax')}}">
	{% trans %}change.email{% endtrans %}
</button>

{{form_end(form)}}
