{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{form_start(form)}}

{{form_row(form.currentPassword, {'label':"password.current"})}}

{{form_row(form.password.first, {'label':"password.new.first"})}}

{{form_row(form.password.second, {'label':"password.new.second"})}}

<button class="btn btn-info" type="submit" formaction="{{path('app_account_password_edit_ajax')}}">
	{% trans %}change.password{% endtrans %}
</button>

{{form_end(form)}}
