{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{form_start(form)}}

{{form_row(form.username)}}
{{form_row(form.email)}}
{# {{form_row(form.isActive)}} #}
{{form_row(form.password)}}


<div class="d-flex justify-content-between">
	<button class="btn btn-info" type="submit">
		{% trans %}create.user{% endtrans %}
	</button>

	<a href="{{path("app_admin_user_index")}}" class="btn btn-outline-light">
		{% trans %}return{% endtrans %}
	</a>
</div>

{{form_end(form)}}
